<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Enjoy your poop!</h1>
        <div class="col-4 p-4">
        <%= image_tag "https://media.giphy.com/media/Hzhkf0esHVMhW/giphy.gif" %>
        </div>
        <hr class="my-4">
        <h2>Happy? Leave a poop review</h1>
        <%= simple_form_for([ @toilet, @booking ]) do |f| %>
          <div class="row">
              <div class="col p-4">
                <%= f.input :review, label: 'Review', error: 'Review is mandatory, please specify one' %>
              </div>
              </div>
              <div class="col p-4">
                <%= f.input :rating, label: 'Rating', as: :numeric, error: 'Rating is mandatory, please specify one' %>
              </div>
              <%= f.button :submit, label: 'Leave review', class: "btn-primary" %>
            </div>
        <% end %>
      <hr class="my-4">
    </div>
</div>
