<div class="jumbotron">
    <div class="container shadow p-3 mb-5 bg-light rounded">
        <div class="form-group">
          <h1 class="display-4">Booking information</h1>
          <%= simple_form_for([ @toilet, @booking ]) do |f| %>
          <%= f.input :arrivaltime, label: 'Arrival time', :collection => ['2 minutes', '5 minutes', '10 minutes', '15 minutes', '20 minutes', '30 minutes' ] %>
          <%= f.input :pooptype, label: 'Poop type', :collection => ['Type 1', 'Type 2', 'Prefer not to say!'] %>
          <%= f.button :submit, class: "btn-primary" %>
        <% end %>
        </div>
    <hr class="my-2">
      <p> * <strong>type 1</strong> = to go number one,
        <strong>type 2</strong> = to go number two </p>
    </div>
        <div class="col-4 p-4">
        <%= image_tag "https://media.giphy.com/media/Hzhkf0esHVMhW/giphy.gif" %>
       </div>
</div>
