<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">New Toilet</h1>
        
        <%= simple_form_for @toilet do |f| %>
          <div class="row">
                <div class="col p-4">
                <%= f.input :description, label: 'Description', error: 'Description is mandatory, please specify one' %>
                </div>
              </div>
              <div class="col p-4">
                <%= f.input :address, label: 'Address', error: 'Address is mandatory, please specify one' %>
              </div>
              <div class="col p-4">
                <%= f.input :style, label: 'Style', error: 'Category is mandatory, please specify one', collection: ["japanese", "french", "US"] %>
              </div>
              
              <%= f.button :submit, class: "btn-primary" %>
            </div>
        <% end %>
      <hr class="my-4">
    </div>
</div>