
<div class="jumbotron">
  <div class="container">
    <div class="container">
      <div>
      <%= form_tag toilets_path, method: :get do %>
      <%= select_tag :query, options_for_select(["japanese", "french", "US"]),
      :prompt => "which style do you fancy?",
      :selected => params[:query],
      class: "form-control"
        %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <div class="row">
        <div class="col-8">
          <% @toilets.each do |toilet| %>
          <div class="card mb-3" style="max-width: 700px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <% if toilet.photo.attached? %>
                  <%= cl_image_tag toilet.photo.key, width: 180, height: 200, crop: :fill %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Toilet N° <%= toilet.id %></h5>
                  <p class="card-text">Style: <%= toilet.style %></p>
                  <p class="card-text text-truncate"><small class="text-muted"><%= toilet.description %></small></p>
                </div>
                <div class="btn btn-primary">
                  <%= link_to 'Look that toilet', toilet_path(toilet), :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-4">
          <h1 class="my-3 text-center">Where to poop nearby</h1>
          <div class="d-flex justify-content-center">
            <form class="form-inline" id="search-form">
              <input type="text" class="form-control" placeholder="Type adress" id="search-input">
              <input type="submit" class="btn btn-primary btn-sm m-2">
            </form>
          </div>
          <div class="d-flex justify-content-center">
               <div id="map" class="py-2"
                style="width: 100%; height: 600px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_TOKEN'] %>"></div>
              </div>
            </div>
          </div>
      </div>
      <hr class="my-4">
    </div>
  </div>

  <% if policy(Toilet).create? %>
  <%= link_to "New Toilet", new_toilet_path %>
  <% end %>
