<div class="jumbotron">
  <div class="container ">
    <h1 class="display-4">Toilet N° <%= @toilet.id %></h1>
    <%= link_to 'Remove', toilet_path(@toilet),  method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-secondary"   %>
        <%= link_to 'Edit', edit_toilet_path(@toilet), :class => "btn btn-secondary"   %>
    <div class="container border">
      <div class="row">
        <div class="col-8 p-4">
        <p>Style: <%= @toilet.style %></p>
        <p>Description: <%= @toilet.address %></p>
        <p>Description: <%= @toilet.description %></p>
        <% if @toilet.photo.attached? %>
            <%= cl_image_tag @toilet.photo.key, width: 300, height: 200, crop: :fill %>
          <% end %>
        <%= link_to 'Book that toilet', new_toilet_booking_path(@toilet), :class => "btn btn-lg btn-primary"   %>
        </div>
        <div class="col-4 p-4">
         <div id="map" class="py-2"
                style="width: 100%; height: 600px;"
                data-marker="<%= @marker.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_TOKEN'] %>"></div>
        </div>
      </div>

      <hr class="my-4">
      <h4> Previous usage of Toilet N°<%= @toilet.id %></h4>
      <div class="container">
        <% @toilet.bookings.each do |booking| %>
          <div class="container border my-2">
              <div class="row">
                <div class="col-4 p-4">
                <%= booking.user.email %>
                </div>
                <div class="col-2 p-4">
                <%= booking.pooptype %>
                </div>
              </div>
          </div>
        <% end %>
      </div>
      <hr class="my-4">
      <%= link_to 'See all toilets', toilets_path %>
    </div>
  </div>
</div>



